<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeepImmuno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



<div class="jumbotron text-center">
    <h1>DeepImmuno</h1>
    <p>Prediction of epitope immunogenicity for CD8+ Cell</p> 
    </div>



<div class="container">
    <div class='row'>
        <div class='col-xl-2'></div>
        <div class='col-xl-8'>
            <form method="post", enctype="multipart/form-data">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.peptide.label }} 
                    {{ form.peptide(class_="form-control",value="PLRTQWERN") }}
                </div>

                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.mhc.label }}
                    {{ form.mhc(class_="form-control",value="HLA-A*0201") }}
                </div>


                {{ form.hidden_tag() }}
                {{ form.file_upload() }}
                <label><a href="https://github.com/frankligy/DeepImmuno#how-to-use"><u>File Format?</u></a></label>
                <br>
                <br>
                <div class="form-check">
                    {{ form.hidden_tag() }}
                    <label>{{ form.checkbox()}}Do you need binding affinity score? (need 30-60s computation)<a href="./learn_more#div2">[Learn more]</a></label>
                </div>
                <br>
                <br>
                {{ form.hidden_tag() }}
                {{ form.submit_button(class_="btn btn-primary") }}
            


                {% for message in get_flashed_messages() %}
                <p style="color:red;">{{ message }}</p>
                {% endfor %}

            </form>
        </div>
        <div class='col-xl-2'></div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://github.com/frankligy"> Guangyuan(Frank) Li</a>
    </div>
</footer>

</body>

<script>
    function manage() {
        var x = document.getElementById("submit_button");
        x.disabled = true;
        x.form.submit();
        x.value = "Loading...";
    }

    document.getElementById("submit_button").addEventListener("click",manage);

</script>
</html>
